---
import { listProjects } from "../../../constants";
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Left from "../../components/icons/project/Left.astro";
import Direction from "../../components/Direction.astro";
import Similar from "../../components/Similar.astro";

export async function getStaticPaths() {
  return listProjects.map((project) => ({
    params: {
      slug: project.url.split("/").pop(),
    },
  }));
}

export const prerender = true;

const { slug } = Astro.params;

let project;

if (slug) {
  project = listProjects.find((p) => p.url === `/project/${slug}`);
}
---

<Layout
  title="NachDev - Pedro Martinez"
  description="Portafolio Pedro Martinez- Analista Programador y Ingenieria en informática. Página sobre mí y experiencia como profesional."
>
  <main class="pt-20 pb-10 bg-background dark:bg-primary">
    <Container>
      <Left />

      <div class="overflow-hidden rounded-t h-[28rem] mt-4">
        <Image
          src={project.image}
          alt={project.title}
          class="w-full h-full object-cover shadow-md"
          width={992}
          height={500}
        />
      </div>
      <section class="mt-4 grid md:grid-cols-2 gap-8 text-gray-700 dark:text-white">
        <div>
          <h2 class="text-2xl mt-2 md:text-4xl font-bold">
            {project.title}
          </h2>
          <div class="mt-4 sm:text-lg/relaxed">
            {project.description}
          </div>
        </div>
        <Direction project={project} />
      </section>
      <Similar />
    </Container>
  </main>
</Layout>
